includes:
	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon
#	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon #we are not ready yet

parameters:
	ignoreErrors:
	    - '#Call to an undefined method Nette\\Forms\\IFormRenderer::configElem()#'
	    - '#Call to an undefined method Nette\\Forms\\Controls\\ChoiceControl::flatAssocArray().#'
