includes:
	- vendor/contributte/phpstan/phpstan.neon
	- phpstan-baseline.neon

parameters:
	level: 7
	phpVersion: 80200
	treatPhpDocTypesAsCertain: false

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
